#grid {
    display: grid;
    grid-template: 1fr 1fr 1fr 3fr 1fr 1fr 1fr / 1fr 1fr 1fr 3fr 1fr 1fr 1fr;
}
#grid > * {
    background: #eee;
    border: 1px solid #aaa;
    padding: 1em;
}
input {
    width: 2.5rem;
    margin: 0 0.5rem;
}
#mS {
    width: 5.5rem;
}
#controls {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    /* flex-direction: column;
    justify-content: center; */
    /* align-items: center; */
    /* height: 100vh;
    width: 100vw; */
}
