<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello 4AHWII</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h2>Meine Zoos</h2>
    <ul>
        <% zoos.forEach(e=> { %>
            <li data-id="<%= e.id %>">
                <%= `Land: ${e.land} Stadt: ${e.stadt} Adresse: ${e.adresse} (${e.baujahr})`%>
            </li>
            <% }) %>
    </ul>
</body>

</html>