<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <title>Hello 4AHWII ZOO</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h2>Meine Zoos</h2>
    <ul>
        <% zoos.forEach(e=> { %>
        <li data-id="<%= e.id %>" hx-get="/zoo/<%= e.id %>" hx-target="#details">
            <%= `Land: ${e.land} Stadt: ${e.stadt} Adresse: ${e.adresse} (${e.baujahr})`%>
        </li>
        <!-- <% if (e.baujahr < 1950) { %>
        <p>Der Zoo ist eher alt</p>
        <% } else { %>
        <p>Der Zoo ist NEU</p>
        <% } %>
    -->
        <% }) %>
    </ul>
    <h3>Details:</h3>
    <ul id="details">No Zoo selected yet</ul>
</body>

</html>